.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
  height: 100vh;
}

.main form {
  background-color: white;
  width: 400px;
  border-radius: 5px;
  padding: 10px;
}

.main form label {
  color: black;
}

.main form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  color: black;
  margin: 0 10px;
}

.main form button {
  height: 40px;
  width: 100%;
  margin: 20px 0;
  color: white;
  font-size: large;
  border-radius: 5px;
  border: none;
  background-color: rgb(28, 25, 25);
}

.main form button:hover {
  cursor: pointer;
  background-color: rgb(85, 82, 82);
}

.video-transcription-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  width: 100vw;
  height: 350px;
}

.video-transcription-section video {
  height: inherit;
  border-radius: 5px;
  border: #ccc solid 1px;
}

.transcription {
  border-radius: 5px;
  border: #ccc solid 1px;
  height: inherit;
  width: 500px;
  padding: 5px;
  color: lightgreen;
}
